<h1>FORMULARIO DE PRODUCTO</h1>

<form action="" method="post">
    <div class="form-group">
        <label>Nombre del producto:</label>
        <input type="text" name="nombre" id="">
    </div>
    <div class="form-group">
        <label>Precio del producto:</label>
        <input type="number" name="precio" id="">
    </div>
    <div class="form-group">
        <label>Descripción del producto:</label>
        <input type="text" name="descripcion" id="">
    </div>
    <div class="form-group">
        <button>Enviar</button>
    </div>
</form>